{{ define "main" }}
<article>
    <h1>Post Archive</h1>
    {{ range (where .Site.RegularPages "Type" "posts").GroupByDate "2006" }}
        <h2>
            {{ .Key }}
        </h2>
        <ul>
            {{ range .Pages }}
            <li>
                <time datetime="{{ .Date.Format "01-02" }}">{{ .Date.Format "January 2" }}</time>
                <a href="{{ .RelPermalink | relLangURL }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    {{ end }}
</article>
{{ end }}
