{{- define "main" -}}
{{ $paginator := .Paginate (where .Pages "Type" "posts") }}
<h1 id="blog-heading">Latest News</h1>
{{ range $paginator.Pages }}
    <article>
        <header>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            <h2 class="blog-title">{{ .Title }}</h2>
            <p class="blog-author">Written by {{ .Params.author }}</p>
            {{- with .Params.categories -}}
            <ul class="blog-categories">
                {{- range . -}}
                <li>
                    <a href="/categories{{ . | relLangURL }}">{{ . }}</a>
                </li>
                {{- end -}}
            </ul>
            {{- end -}}
        </header>
        {{- with .Params.summary -}}
        <p>{{ . }}</p>
        {{- else -}}
        <p>{{ .Summary }}</p>
        {{- end -}}
        <a href="{{ .RelPermalink | relLangURL }}">Read this post</a>
    </article>
{{ end }}
<aside id="blog-pagination">
    <h2>View More Posts</h2>
    {{ template "_internal/pagination.html" . }}
</aside>
{{ end }}
