{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    {{- if .Params.toc -}}
    <aside id="toc">
        <h2>{{ i18n "tableOfContents" }}</h2>
        {{ .TableOfContents }}
    </aside>
    {{- end -}}
    {{ .Content }}
</article>
{{ end }}
