/* THEME */
:root {
    --color: rgb(23, 28, 33);
    --bg-color: rgb(238, 223, 203);
    --article-bg-color: rgba(240, 240, 240, 0.7);
    --nav-color: rgb(248, 247, 202);
    --nav-bg-color: rgb(0, 0, 0);
    --nav-hover-color: rgb(219, 128, 30);
    --dropdown-bg-color: rgb(127, 127, 127);
    --a-link: rgb(155, 10, 10);
    --a-link-hover: rgb(125, 35, 35);
    --border-color: rgb(119, 119, 119);
}

/* GLOBALS */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    color: var(--color);
    background-color: var(--bg-color);
    background-image: url("/openmw-hugo/images/background.webp");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    line-height: 25px;
}

h1 {
    font-size: 38px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    margin: 30px 0 5px;
}

h3 {
    font-size: 20px;
    margin: 30px 0 5px;
}

h4 {
    font-size: 18px;
    margin: 30px 0 5px;
}

a {
    width: fit-content;
    text-decoration: none;
}

hr {
    width: 95%;
    color: var(--color);
}

main {
    flex: 1;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--article-bg-color);
    border: 1px solid var(--border-color);
}

article a {
    color: var(--a-link);
}

article a:hover {
    color: var(--a-link-hover);
    text-decoration: underline;
}

aside {
    width: 100%;
    max-width: 1000px;
    display: flex;
    padding: 20px;
    background-color: var(--article-bg-color);
    border: 1px solid var(--border-color);
}

aside a {
    color: var(--a-link);
}

aside a:hover {
    color: var(--a-link-hover);
    text-decoration: underline;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p, footer>a {
    text-align: center;
    font-size: 12px;
}

footer>a {
    margin-left: 5px;
    color: var(--color);
}

footer>a:hover {
    color: var(--nav-hover-color);
}

footer>a::before {
    content: "\00a0- ";
    margin-right: 5px;
}

ul {
    margin: 3px 0;
    list-style-type: square;
}

li {
    padding: 3px 0;
}

picture>img {
    max-width: 100%;
    height: auto;
}

time {
    display: block;
}

:target {
    scroll-margin-top: 10vh; /* This offsets the anchor jump position to not hide content under the sticky header */
}

.video {
    width: 100%;
    margin: 10px 0;
    aspect-ratio: 16 / 9;
    border: 0;
}

.external-link::after {
    content: "\2197";
    margin-left: 8px;
    vertical-align: bottom;
    font-size: 16px;
    color: white;
}

.active a {
    font-weight: bold;
}

.disabled a {
    color: var(--color);
}

.disabled a:hover {
    color: var(--color);
    text-decoration: none;
}

/* SITE HEADER */
#main-header {
    display: flex;
}

#main-header picture {
    margin-bottom: -8px;
}

#main-logo {
    position: absolute;
}

/* SITE NAV */
#main-nav {
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100%;
    margin-top: -30px;
    top: 0;
}

#main-nav>ul {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0;
    padding: 0 0 4px;
    list-style: none;
    background-color: var(--nav-bg-color);
    border-top: 1px solid var(--nav-hover-color);
}

#main-nav>ul>li {
    margin: 0 20px;
    border-top: 3px solid transparent;
}

#main-nav>ul>li:hover {
    border-top: 3px solid var(--nav-hover-color);
}

#main-nav>ul>li a {
    display: block;
    width: 100%;
    line-height: 40px;
    color: var(--nav-color);
}

#main-nav>ul>li a:hover {
    color: var(--nav-hover-color);
}

#main-nav>ul>li.active-page {
    border-top: 3px solid var(--nav-hover-color);
}

.dropdown>a::after {
    content: "\25BC";
    margin-left: 8px;
    vertical-align: bottom;
    font-size: 9px;
    color: white;
}

.dropdown>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content > li {
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid var(--nav-hover-color);
}

.dropdown-content > li:first-child {
    border-top: 3px solid var(--nav-hover-color);
}

.dropdown-content a {
    padding: 0 30px 0 20px;
}

#menu-toggle,
label[for=menu-toggle] {
    display: none;
}

/* HOME PAGE */
#home {
    padding: 0;
    background-color: unset;
    border: unset;
    gap: 10px;
}

#home h1,
#home h2,
#home h3 {
    margin: 10px 0;
}

#intro,
#home section {
    padding: 20px;
    background-color: var(--article-bg-color);
    border: 1px solid var(--border-color);
}

#home-container {
    display: flex;
    gap: 10px;
}

#intro-container {
    display: flex;
    gap: 20px;
}

#intro-container div {
    width: 100%;
}

#intro-media {
    margin-top: 10px;
}

#home-download {
    width: 100%;
}

#home-download > div {
    display: flex;
}

#download-version {
    font-weight: bold;
}

#info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#home-news {
    height: 100%;
}

#home-news ul {
    margin: 0;
}

#home-news p {
    margin: 5px 0 0 0;
}

#home-news a {
    font-size: 18px;
}

#home-community {
    height: 100%;
}

#home-community ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#home-community ul li {
    width: 25%;
    margin-left: 10px;
    line-height: 30px;
}

/* MEDIA GALLERY */
#main-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main-gallery figure {
    margin: 20px 5px;
    background-color: var(--nav-bg-color);
    color: white;
}

#main-gallery figcaption {
    padding-bottom: 5px;
    text-align: center;
}

#lightbox {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
    overscroll-behavior: contain;
    z-index: 100;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    padding: 10px 10px 10px 8px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.98);
}

#lightbox-image {
    max-width: 95vw;
    max-height: 90vh;
    margin: auto 0;
    padding: 0;
}

#lightbox-caption {
    color: white;
    text-align: center;
}

#lightbox-close {
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
    cursor: pointer;
}

/* BLOG LIST */
#blog-heading {
    width: 100%;
    max-width: 1000px;
    margin: 10px 0 0;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--article-bg-color);
}

.blog-title {
    margin: 10px 0 5px;
}

.blog-author {
    margin: 5px 0;
}

/* BLOG POST */
#post-header h1 {
    margin: 20px 0 15px 0;
}

#post-author {
    margin: 0;
    font-size: 15px;
}

#post-time,
#post-time time,
#post-reading {
    display: inline-block;
    margin: 3px 0;
    font-size: 15px;
}

#post-author,
#post-time,
#post-reading {
    padding: 0 20px 0 5px;
}

/* PAGINATION */
#blog-pagination {
    flex-direction: column;
    margin-top: 10px;
}

#blog-pagination h2 {
    margin: 10px 0;
}

#blog-pagination > ul {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}

#post-pagination {
    margin-top: 10px;
    justify-content: space-between;
    gap: 100px;
}

#post-pagination.last-post {
    justify-content: end;
}

/* SINGLE PAGES */
#toc {
    display: flex;
    flex-direction: column;
}

/* MISC */

/* Hugo Syntax Hightlighting */
div.highlight {
    max-width: 1000px;
}
div.highlight pre {
    padding-left: 10px;
    white-space: pre-wrap;
    word-break: break-word;
}

@media only screen and (max-width: 900px) {

    body {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    ul {
        padding-left: 15px;
    }

    /* Mobile Nav Menu */
    #main-nav {
        margin-top: 0;
    }

    #main-nav > ul {
        position: fixed;
        display: none;
        overflow-y: auto;
        overscroll-behavior: contain;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding: 20px;
        border: unset;
    }

    #main-nav>ul>li.active-page {
        border: unset;
    }

    #menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        right: 105px;
        margin: 0;
        z-index: 6;
    }

    #menu-toggle:checked ~ ul {
        display: block;
    }

    label[for=menu-toggle] {
        display: block;
        position: fixed;
        padding: 5px 5px 5px 30px;
        top: 0;
        right: 0;
        z-index: 5;
        color: white;
        background-color: black;
        cursor: pointer;
    }

    .dropdown-content {
        display: unset;
        position: unset;
    }

    .dropdown-content > li,
    .dropdown-content > li:first-child {
        border: unset;
    }

    /* Mobile Home Page */
    #home-container,
    #download-container,
    #intro-container {
        flex-direction: column;
    }

    #intro-container {
        gap: 0px;
    }

    #home-community ul li {
        margin-left: 30px
    }
}
