{{- define "main" -}}
{{- $pages := where $.Site.RegularPages "Section" "posts" | lang.Merge (where .Sites.First.RegularPages "Section" "posts") -}}
<aside id="post-pagination" {{ if not ($pages.Prev .) }}class="last-post"{{ end }}>
    {{- with $pages.Prev . -}}
    <div>
        <span>&larr;</span>
        <a href="{{ .RelPermalink | relLangURL }}">{{ .Title }}</a>
    </div>
    {{- end -}}
    {{- with $pages.Next . -}}
    <div>
        <a href="{{ .RelPermalink | relLangURL }}">{{ .Title }}</a>
        <span>&rarr;</span>
    </div>
    {{- end -}}
</aside>
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <p id="post-author">{{ i18n "postAuthor" }} {{ .Params.author }}</p>
        <p id="post-time">{{ i18n "postDate" }} <time datetime="{{ .Date.Format " 2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
        <p id="post-reading">{{ i18n "readingTimeText" }} {{ i18n "readingTime" .ReadingTime }}</p>
    </header>
    {{- if .Params.toc -}}
    <aside>
        <p>Table of Contents</p>
        {{ .TableOfContents }}
    </aside>
    {{- end -}}
    {{ .Content }}
</article>
{{- end -}}
