<header id="main-header">
    {{- with resources.GetMatch "header.jpg" -}}
    {{- $newFilePath := replace . (path.Ext .) ".webp" -}}
    {{- $webp := .Resize (printf "%dx%d webp" .Width .Height) | resources.Copy $newFilePath -}}
    <picture>
        <source srcset="{{ $webp.RelPermalink }}">
        <img src="{{ .RelPermalink }}" alt='{{ i18n "bannerAlt" }}' width="{{ .Width }}" height="{{ .Height }}">
    </picture>
    {{- end -}}
    {{- with resources.GetMatch "logo.png" -}}
    {{- $newFilePath := replace . (path.Ext .) ".webp" -}}
    {{- $webp := .Resize (printf "%dx%d webp" .Width .Height) | resources.Copy $newFilePath -}}
    <picture id="main-logo">
        <source srcset="{{ $webp.RelPermalink }}">
        <img src="{{ .RelPermalink }}" alt='{{ i18n "logoAlt" }}' width="{{ .Width }}" height="{{ .Height }}">
    </picture>
    {{- end -}}
</header>
