{{- $viewport := .Site.Params.viewport | default "width=device-width, initial-scale=1.0" -}}
{{- $title := cond (.IsHome) (print .Site.Title " - " .Site.Params.subtitle) (print .Title " - " .Site.Title) -}}
{{- $description := .Params.description | default .Site.Params.description -}}
{{- $ogType := cond (.IsHome) "website" "article" -}}
{{- $ogTitle := .Params.opengraph.title | default .Site.Title -}}
{{- $ogDescription := .Params.opengraph.description | default .Site.Params.description -}}
{{- $articlePublishedTime := .PublishDate.Format "2006-01-02T15:04" -}}
{{- $articleModifiedTime := .Lastmod.Format "2006-01-02T15:04" }}
{{- $twitterCard := .Params.twitter.card | default "summary_large_image" -}}
{{- $twitterTitle := .Params.twitter.title | default .Site.Title -}}
{{- $twitterDescription := .Params.twitter.description | default .Site.Params.description -}}
{{- $favicon := resources.Get "favicon.png" -}}
{{- $faviconBase64 := $favicon.Content | base64Encode -}}
{{- $css := resources.Get "css/style.css" | minify | fingerprint -}}

<head>
    <meta charset="{{ .Site.Params.charset }}">
    <meta name="viewport" content="{{ $viewport }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ $description }}">
    <meta name="theme-color" content="{{ .Site.Params.themeColor }}">

    <title>{{ $title }}</title>

    {{/* Opengraph Data */ -}}
    <meta property="og:locale" content="{{ .Site.Language.Lang }}">
    <meta property="og:type" content="{{ $ogType }}">
    <meta property="og:title" content="{{ $ogTitle }}">
    <meta property="og:description" content="{{ $ogDescription }}">
    <meta property="og:url" content="{{ .Permalink }}">

    {{ with resources.GetMatch .Params.opengraph.image -}}
    <meta property="og:image" content="{{ .Permalink }}">
    <meta property="og:image:secure_url" content="{{ .Permalink }}">
    <meta property="og:image:type" content="{{ .MediaType }}">
    <meta property="og:image:width" content="{{ .Width }}">
    <meta property="og:image:height" content="{{ .Height }} ">
    <meta property="og:image:alt" content="{{ $.Params.opengraph.alt }}">
    {{- end }}

    {{ if not .IsHome -}}
    <meta property="og:site_name" content="{{ .Site.Params.siteName }}">
    <meta property="article:published_time" content="{{ $articlePublishedTime }}">
    <meta property="article:modified_time" content="{{ $articleModifiedTime }}">
    <meta property="article:author" content="{{ .Params.author }}">
    {{- if isset .Params "categories" -}}
    <meta property="article:section" content="{{ index .Params.categories 0 }}">
    {{- end -}}
    {{- end -}}

    {{- with .Site.Params.fbAppID -}}
    <meta property="fb:app_id" content="{{ . }}">
    {{- end }}

    <meta name="twitter:card" content="{{ $twitterCard }}">
    <meta name="twitter:title" content="{{ $twitterTitle }}">
    <meta name="twitter:description" content="{{ $twitterDescription }}">
    <meta name="twitter:creator" content="{{ .Site.Params.twitterCreator }}">
    <meta name="twitter:site" content="{{ .Site.Params.twitterSite }}">

    {{- with resources.GetMatch .Params.twitter.image -}}
    <meta name="twitter:image" content="{{ .Permalink }}">
    {{- end }}

    {{/* Resources */ -}}
    <link rel="icon" sizes="16x16 32x32 48x48" type="image/x-icon" href="data:image/x-icon;base64,{{ $faviconBase64 }}">
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css">

    {{/* RSS Feed */ -}}
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if .Site.IsServer -}}
        <script type="text/javascript">const isDevelopment = true;</script>
    {{ end -}}

    {{/* Deferred JS Files. These are places in assets/js/ */ -}}
    {{- $script := resources.Get .Site.Params.scriptPath | minify | fingerprint -}}
    <script src="{{ $script.RelPermalink }}" defer></script>

    {{ range .Params.internalScripts -}}
        {{ $script := resources.Get . | minify | fingerprint -}}
        <script src="{{ $script.RelPermalink }}" defer></script>
    {{ end -}}

    {{ range .Params.externalScripts -}}
        <script src="{{ . }}" defer></script>
    {{ end -}}
</head>
