{{- $currentPage := . -}}
<nav id="main-nav">
    <input id="menu-toggle" type="checkbox">
    <label for="menu-toggle">Toggle Menu</label>
    <ul>
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="dropdown{{ range .Children }}{{ if eq $currentPage.RelPermalink .URL }} active-page{{ end }}{{ end }}">
                    <a href="{{ .URL | relLangURL }}"{{ if strings.HasPrefix .URL "http" }} class='external-link' target='_blank' rel='noreferrer'{{ end }}>{{ .Name }}</a>
                    <ul class="dropdown-content">
                        {{ range .Children }}
                            <li>
                                <a href="{{ .URL | relLangURL }}"{{ if strings.HasPrefix .URL "http" }} class='external-link' target='_blank' rel='noreferrer'{{ end }}>{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{- else -}}
                <li {{if eq $currentPage.RelPermalink .URL}}class="active-page"{{ end }}>
                    <a href="{{ .URL | relLangURL }}"{{ if strings.HasPrefix .URL "http" }} class='external-link' target='_blank' rel='noreferrer'{{ end }}>{{ .Name }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
