{{- define "main" }}
<!-- Grab all posts and merge missing translations from English -->
{{- $pages := where $.Site.RegularPages "Section" "posts" | lang.Merge (where .Sites.First.RegularPages "Section" "posts") | first 3 -}}
<article id="home">
    <div id="intro">
        <h1>{{ i18n "introTitle" }}</h1>
        <div id="intro-container">
            <div>
                <p>{{ i18n "introText" }}<p>
                <h2>{{ i18n "introFeatures" }}:</h2>
                <ul>
                    <li>{{ i18n "introFeatureOne" }}</li>
                    <li>{{ i18n "introFeatureTwo" }}</li>
                    <li>{{ i18n "introFeatureThree" }}</li>
                    <li>{{ i18n "introFeatureFour" }}</li>
                    <li>{{ i18n "introFeatureFive" }}</li>
                    <li><a href='{{ "/faq/" | relLangURL }}'>{{ i18n "introFeatureSix" }}</a></li>
                </ul>
            </div>
            <div id="intro-media">
                <iframe src="{{ .Site.Params.introVideoURL }}" class="video" title="{{ .Site.Params.introVideoTitle }}" allow="fullscreen" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div id="home-container">
        <section id="home-download">
            <h2>{{ i18n "downloadTitle" }}</h2>
            <p>{{ i18n "downloadText" }} <a href='{{ "/downloads/" | relLangURL }}'>{{ i18n "downloadLink" }}</a>.</p>
            <p id="download-version">{{ i18n "downloadVersion" .Site.Params.downloadVersion }}
            <div id="download-container">
                <div>
                    <h3>Windows</h3>
                    <ul>
                        <li>GitHub: <a href="{{ .Site.Params.downloads.windows.github }}">Download</a></li>
                        <li>Our Repo: <a href="{{ .Site.Params.downloads.windows.repo }}" target="_blank" rel="noopener noreferrer">View Repo</a></li>
                        <li>Chocolatey: <a href="{{ .Site.Params.downloads.windows.chocolatey }}" target="_blank" rel="noopener noreferrer">Instructions</a></li>
                    </ul>
                    <h3>MacOS</h3>
                    <ul>
                        <li>GitHub: <a href="{{ .Site.Params.downloads.macos.github }}">Download</a></li>
                        <li>Our Repo: <a href="{{ .Site.Params.downloads.macos.repo }}" target="_blank" rel="noopener noreferrer">View Repo</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Linux</h3>
                    <ul>
                        <li>
                            Ubuntu:
                            <ul>
                                <li><a href="{{ .Site.Params.downloads.linux.ubuntu }}" target="_blank" rel="noopener noreferrer">Official Repo</a></li>
                                <li><a href="{{ .Site.Params.downloads.linux.launchpad }}" target="_blank" rel="noopener noreferrer">Launchpad PPA</a></li>
                            </ul>
                        </li>
                        <li>Debian: <a href="{{ .Site.Params.downloads.linux.debian }}" target="_blank" rel="noopener noreferrer">Official Repo</a></li>
                        <li>Arch Linux: <a href="{{ .Site.Params.downloads.linux.arch }}" target="_blank" rel="noopener noreferrer">Community Repo</a></li>
                        <li>Gentoo: <a href="{{ .Site.Params.downloads.linux.gentoo }}" target="_blank" rel="noopener noreferrer">Official Repo</a></li>
                        <li>OpenSUSE: <a href="{{ .Site.Params.downloads.linux.opensuse }}" target="_blank" rel="noopener noreferrer">Official Repo</a></li>
                        <li>Fedora: <a href="{{ .Site.Params.downloads.linux.fedora }}" target="_blank" rel="noopener noreferrer">Official Repo</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="info-container">
            <section id="home-news">
                <h2>{{ i18n "newsTitle" }}</h2>
                <ul>
                {{- range $pages }}
                    <li>
                        <p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{- end -}}
                </ul>
            </section>
            <section id="home-community">
                <h2>{{ i18n "communityTitle" }}</h2>
                {{- with .Site.Params.socials }}
                <ul>
                    {{- range . -}}
                    <li><a href="{{ .url }}" target="_blank" rel="noreferrer">{{ .name }}</a>
                    {{- end -}}
                </ul>
                {{- end -}}
            </section>
        </div>
    </div>
</article>
{{- end -}}
