{{- $thumbnailWidth := $.Site.Data.gallery.thumbnailWidth -}}
<section id="main-gallery">
{{ range $.Site.Data.gallery.images -}}
    {{- $src := .src -}}
    {{- $alt := .alt -}}
    {{- $caption := .caption -}}

    {{- with resources.GetMatch .src -}}
    {{- $fileExt := path.Ext . }}
    {{- $renamedThumbnail := replace . $fileExt (print "-thumbnail" $fileExt) -}}
    {{- $resizedThumbnail := .Resize (print $thumbnailWidth "x") | resources.Copy $renamedThumbnail -}}
    {{- $renamedWebPFile := replace . $fileExt "-thumbnail.webp" -}}
    {{- $webp := .Resize (printf "%dx%d webp" $resizedThumbnail.Width $resizedThumbnail.Height) | resources.Copy $renamedWebPFile -}}
    <figure class="gallery">
        <a href="{{ .RelPermalink }}" target="_blank" data-caption="{{ $caption }}">
            <picture>
                <source type="image/webp" srcset="{{ $webp.RelPermalink }}">
                <img src="{{ $resizedThumbnail.RelPermalink }}" alt="{{ $alt }}" width="{{ $resizedThumbnail.Width }}" height="{{ $resizedThumbnail.Height }}" loading="lazy">
            </picture>
        </a>
        <figcaption>{{ $caption }}</figcaption>
    </figure>
    {{ end -}}
{{- end -}}
    <aside id="lightbox">
        <p id="lightbox-close">&#9587;</p>
        <p id="lightbox-caption"></p>
    </aside>
</section>
